@model ReferralApp.Models.Referral

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Referral</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@if (ViewBag.UserFlow == "Get Programs")
			{
				<input type="hidden" asp-for="RequestType" value="GetPrograms" />
				<div class="form-group">
					<label asp-for="ZipCode" class="control-label"></label>
					<input asp-for="ZipCode" required class="form-control" />
					<span asp-validation-for="ZipCode" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Needs" title="Please create a comma-delimited list of needs" class="control-label"></label>
					<input asp-for="Needs" class="form-control" />
					<span asp-validation-for="Needs" class="text-danger"></span>
				</div>
			}
			else
			{
				<input type="hidden" asp-for="RequestType" value="CreateReferral" />
				<div class="form-group">
					<label asp-for="ZipCode" class="control-label"></label>
					<input asp-for="ZipCode" readonly class="form-control" />
					<span asp-validation-for="ZipCode" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Needs" class="control-label"></label>
					<input asp-for="Needs" readonly class="form-control" />
					<span asp-validation-for="Needs" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Program" class="control-label"></label>
					<select asp-for="Program.Id" required class="form-control" asp-items="Model.AvailablePrograms"></select>
					<span asp-validation-for="Program" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FirstName" class="control-label"></label>
					<input asp-for="FirstName" required class="form-control" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="LastName" class="control-label"></label>
					<input asp-for="LastName" required class="form-control" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Email" class="control-label"></label>
					<input asp-for="Email" type="email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DateofBirth" class="control-label"></label>
					<input asp-for="DateofBirth" type="date" class="form-control" />
					<span asp-validation-for="DateofBirth" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PhoneNumber" class="control-label"></label>
					<input asp-for="PhoneNumber" type="tel" class="form-control" />
					<span asp-validation-for="PhoneNumber" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PreferredLanguage" class="control-label"></label>
					<select asp-for="PreferredLanguage" class="form-control" asp-items="ViewBag.Languages"></select>
					<span asp-validation-for="PreferredLanguage" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ContactPreferences" title="" class="control-label"></label>
					@foreach (string preference in Model.AvailableContactPreferences)
					{
						<br/>
						<label><input type="checkbox" name="ContactPreferences" value="@preference" /> @preference</label>
					}
					<span asp-validation-for="ContactPreferences" class="text-danger"></span>
				</div>
			}
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>

		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
